<!DOCTYPE html>
<html lang="en-US">

<%-include('partials/header')%>

    <body class="size-1140">
        <!-- HEADER -->
        <header role="banner" class="position-absolute">
            <!-- Top Navigation -->
            <nav class="background-transparent background-transparent-hightlight full-width sticky">
                <div class="s-12 l-2">
                    <a href="/" class="logo">
                    </a>
                </div>
                <div class="top-nav s-12 l-10">
                    <p class="nav-text"></p>
                    <ul class="right chevron">
                        <li><a href="/">Home</a></li>
                        <li><a>Documents</a>
                            <ul>
                                <li><a href="/livres">Livres</a></li>
                                <li><a href="/livrets">Livrets</a></li>
                                <li><a>Articles</a></li>
                                <li><a>Audios</a></li>
                                <li><a>Videos</a></li>
                            </ul>
                        </li>
                        <li><a>Formations</a>
                            <ul>
                                <li><a>Cahiers D'étude</a></li>
                                <li>
                                    <a>Formation en présentiel</a>
                                </li>

                                <li>
                                    <a>Formation en ligne</a>
                                </li>

                            </ul>
                        </li>
                        <li><a href="/contact-us">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- MAIN -->
        <main role="main">
            <!-- Main Header -->
            <header>
                <div class="carousel-default owl-carousel carousel-main carousel-nav-white background-dark text-center">
                    <div class="item">
                        <div class="s-12  header-img">
                            <img src="/img/livres.jpg" alt="">

                            <div class="carousel-content margin-bottom-10">
                                <div class="content-center-vertical line" style="margin-top: 5em;">
                                    <div class="margin-top-bottom-20 ">
                                        <!-- Title -->
                                        <div class="s-12 m-10 l-8 center ">
                                            <p class="text-white text-size-12 margin-margin-0 ">
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </header>

            <!-- Section 1 -->
            <br>
            <section class="section-small-padding background-white text-center ">
                <div class="line ">
                    <div class="margin ">

                        <div class="s-12 m-12 l-4 margin-m-bottom ">
                            <div class="padding-2x block-bordered l-12 ">
                                <div class="s-12 md-12" style="margin-bottom: 6px;width: 94%; margin-left: 3%; border-width: 5px; border-style: double;">
                                    <img style="width: 100%;border-width: 5px; border-style: double; " src="/<%=book.coverImageUrl%>" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="s-12 m-12 l-6 margin-m-bottom " style="text-align: left;">
                            <h3 class="text-thiszn " style="font-weight: bold; font-size: x-large;">
                                <%=book.title%>
                            </h3>

                            <p>
                                <mark style="background-color: white;padding-left: 0%;">Auteur:
                                <mark style="color: green;background-color: white; font-weight: bold;">
                                <%=book.author%>
                                </mark>
                                </mark> <br>
                                <%=book.pages%> pages<br>Catégorie :
                                    <mark style="color: red;font-weight: bold;background-color: white;"><%=book.category%></mark>
                            </p>
                            <br>
                            <div class="s-6 m-6 l-6 margin-m-bottom " style="text-align: left;">

                                <form action="/afficher" method="POST">
                                    <input type="hidden" value="<%=book.bookId%>" name="bookId">
                                    <button class="button button text-size-22 " type="submit" value="OK" style="background-color: dodgerblue;">Lire</button>
                                </form>
                            </div>
                            <div class="s-6 m-6 l-6 margin-m-bottom " style="text-align: left;">

                                <form action="/afficher" method="POST">
                                    <input type="hidden" value="<%=book.bookId%>" name="bookId">
                                    <button class="button button text-size-36 " type="submit" value="OK" style="background-color: red;">Télécharger</button>
                                </form>
                            </div>
                            <div class="s-12 m-12 l-12 margin-m-bottom " style="text-align: left; margin-top: 3em;">
                                <h3 class="text-thiszn " style="font-weight: bold; font-size: larger;">
                                    A Propos </h3>
                                <p style="text-align:justify;">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit
                                    in vulputate velit esse molestie consequat</p>

                            </div>

                        </div>

                    </div>

                </div>
            </section>
            <!-- Section 1 -->
            <br>
        </main>
        <br>
        <!-- FOOTER -->
        <footer>


            <!-- Main Footer -->
            <section class="background-dark full-width ">
                <!-- Map -->
                <!-- Collumn 2 -->

                <div style="width: 20%; margin-left: 38.5%;height: 4em; margin-top: 1.5em; padding-left: 8%;">
                    <br>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>


            </section>

            <!-- Bottom Footer -->

        </footer>
        <script type="text/javascript " src="/js/responsee.js "></script>
        <script type="text/javascript " src="/owl-carousel/owl.carousel.js "></script>
        <script type="text/javascript " src="/js/template-scripts.js "></script>
    </body>

</html>