<!DOCTYPE html>
<html lang="en-US">

<%-include('partials/header')%>

    <body class="size-1140">
        <!-- PREMIUM FEATURES BUTTON -->
        <!-- HEADER -->
        <header role="banner" class="position-absolute">
            <!-- Top Navigation -->
            <nav class="background-transparent background-transparent-hightlight full-width sticky">
                <div class="s-12 l-2">
                    <a href="/" class="logo">
                    </a>
                </div>
                <div class="top-nav s-12 l-10">
                    <p class="nav-text"></p>
                    <ul class="right chevron">
                        <li><a href="/">Home</a></li>
                        <li><a>Documents</a>
                            <ul>
                                <li><a href="/livres">Livres</a></li>
                                <li><a href="/livrets">Livrets</a></li>
                                <li><a>Articles</a></li>
                                <li><a>Audios</a></li>
                                <li><a>Videos</a></li>
                            </ul>
                        </li>
                        <li><a>Formations</a>
                            <ul>
                                <li><a>Cahiers D'étude</a></li>
                                <li>
                                    <a>Formation en présentiel</a>
                                </li>

                                <li>
                                    <a>Formation en ligne</a>
                                </li>

                            </ul>
                        </li>
                        <li><a href="/contact-us">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- MAIN -->
        <main role="main">
            <!-- Main Header -->
            <header>
                <div class="carousel-default owl-carousel carousel-main carousel-nav-white background-dark text-center">
                    <div class="item">
                        <div class="s-12  header-img" style="height: 4em;">
                            <div class="carousel-content margin-bottom-10">
                                <div class="content-center-vertical line" style="margin-top: 5em;">
                                    <div class="margin-top-bottom-20 ">
                                        <!-- Title -->
                                        <div class="s-12 m-10 l-8 center ">
                                            <p class="text-white text-size-12 margin-margin-0 ">
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </header>

            <!-- Section 1 -->

            <section class="section-small-padding background-white text-center ">
                <div class="line ">
                    <div class="margin ">

                        <div class="s-12 m-12 l-4 margin-m-bottom ">
                            <div class="padding-2x block-bordered l-12 ">
                                <div class="s-12 md-12" style="margin-bottom: 6px;width: 94%; margin-left: 3%; border-width: 5px; border-style: double;">
                                    <img style="width: 100%;border-width: 5px; border-style: double; " src="/<%=book.coverImageUrl%>" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="s-12 m-12 l-6 margin-m-bottom " style="text-align: left;">
                            <h3 class="text-thiszn " style="font-weight: bold; font-size: x-large;">
                                <%=book.title%>
                            </h3>
                            <h3 class="text-thin " style="font-weight: bold; color: green;">
                                par
                                <%=book.author%>
                            </h3>
                            <p>
                                Page :
                                <%=book.pages%>
                            </p>

                        </div>

                    </div>

                </div>
            </section>
            <!-- Section 1 -->
            <br>
        </main>
        <br>
        <!-- FOOTER -->
        <footer>


            <!-- Main Footer -->
            <section class="background-dark full-width ">
                <!-- Map -->
                <!-- Collumn 2 -->
                <div class="line margin-m-bottom-2x padding-2x ">


                </div>

            </section>
            <hr class="break margin-top-bottom-0 " style="border-color: rgba(0, 38, 51, 0.80); ">

            <!-- Bottom Footer -->

        </footer>
        <script type="text/javascript " src="/js/responsee.js "></script>
        <script type="text/javascript " src="/owl-carousel/owl.carousel.js "></script>
        <script type="text/javascript " src="/js/template-scripts.js "></script>
    </body>

</html>